.sign-up-right-main {
  background-color: #ffffff;
  padding: 65px 136px;
  width: 50vw;
}

.sign-up-right-main-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  margin-bottom: 16px;
}

.sign-up-right-main-desc {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 40px;
}

.sign-up-right-buttons-div {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.sign-up-right-button {
  display: flex;
  align-items: center;
  border: none;
}

.google-icon-text {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  padding: 13px 17.5px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;

  background: #ffefee;
  border: 1px solid #eb4335;
  border-radius: 4px;
}

.facebook-icon-text {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  padding: 13px 8.5px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #d5eeff;
  border: 1px solid #0777e8;
  border-radius: 4px;
}

.sign-up-right-hr-div {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  align-items: center;
}

.or-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
}
