.sign-up-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sign-up-left-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  width: 50vw;
  background: url("../../assets/sign-up-background.png"),
    linear-gradient(359.64deg, #000000 0.45%, rgba(0, 0, 0, 0.29) 99.83%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-signup {
  display: flex;
  align-items: center;
  height: 10vh;
}

.sign-up-left-main-left {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.sign-up-top {
  height: 50%;
}

.sign-up-bottom {
  height: 50%;
  padding-bottom: 3%;
}

.sign-up-left-main-left h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  max-width: 63%;
  color: #ffffff;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1100px) {
  .sign-up-left-main-left h3 {
    max-width: 70%;
  }
}

@media only screen and (max-width: 1500px) {
  .sign-up-left-main-left h3 {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
  }
}

@media only screen and (max-width: 1200px) {
  .sign-up-left-main-left h3 {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
  }
}

.sign-up-main-left-p-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}
@media only screen and (max-width: 1200px) {
}

.sign-up-main-left-p-1 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;

  max-width: 60%;
}

@media only screen and (max-width: 1500px) {
  .sign-up-main-left-p-1 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #ffffff;
  }
}

@media only screen and (max-width: 1200px) {
  .sign-up-main-left-p-1 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #ffffff;
  }
}

.sign-up-main-left-span-1 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #ffffff;
}

@media only screen and (max-width: 1500px) {
  .sign-up-main-left-span-1 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: right;

    color: #ffffff;
  }
}

@media only screen and (max-width: 1500px) {
  .sign-up-main-left-span-1 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    text-align: right;

    color: #ffffff;
  }
}

.sign-up-main-left-span-2 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  text-decoration-line: underline;

  color: #ffffff;
}

@media only screen and (max-width: 1500px) {
  .sign-up-main-left-span-2 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;

    text-decoration-line: underline;

    color: #ffffff;
  }
}

@media only screen and (max-width: 1200px) {
  .sign-up-main-left-span-2 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    text-decoration-line: underline;

    color: #ffffff;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .sign-up-left-container {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
  .sign-up-right {
    height: 100vh;
    overflow: hidden;
  }
}

.sign-up-right-header {
  height: 12%;
  min-height: 78px;

  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .sign-up-right-header {
    display: none;
  }
}

.sign-up-right-main {
  padding: 16%;
  padding-top: 8%;
  padding-bottom: 12%;
  width: 50vw;
  max-width: 100%;
  height: 100vh;
}

.sign-up-right-main::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sign-up-right-main {
    width: 100vw;
    height: 88%;
    padding: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

.sign-up-right-content {
  height: 100%;
  overflow: hidden;
}

.content-top {
  height: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .content-top {
    height: 37%;
    padding-bottom: 1.5%;
    min-height: 190px;
  }
}

.content-bottom {
  height: 63%;
  padding-top: 2%;
}

@media only screen and (max-width: 768px) {
  .content-bottom {
    height: 63%;
    padding-bottom: 10%;

    overflow: auto;
  }

  .content-bottom::-webkit-scrollbar {
    display: none;
  }
}

.sign-up-right-main-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  max-width: 30vw;
}

@media only screen and (max-width: 1500px) {
  .sign-up-right-main-title {
    font-size: 20px;
    max-width: 20vw;
  }
}
@media only screen and (max-width: 1200px) {
  .sign-up-right-main-title {
    font-size: 20px;
    max-width: 25vw;
  }
}

@media only screen and (max-width: 768px) {
  .sign-up-right-main-title {
    font-size: 16px;
    max-width: 45vw;
  }
}

@media only screen and (max-width: 676px) {
  .sign-up-right-main-title {
    font-size: 15px;
    max-width: 45vw;
  }
}

@media only screen and (max-width: 450px) {
  .sign-up-right-main-title {
    font-size: 14px;
    max-width: 55vw;
  }
}

@media only screen and (max-width: 350px) {
  .sign-up-right-main-title {
    font-size: 13px;
    max-width: 65vw;
  }
}

.sign-up-right-main-desc {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  max-width: 85%;
}

@media only screen and (max-width: 1400px) {
  .sign-up-right-main-desc {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .sign-up-right-main-desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 676px) {
  .sign-up-right-main-desc {
    font-size: 13px;
  }
}

@media only screen and (max-width: 450px) {
  .sign-up-right-main-desc {
    font-size: 12px;
  }
}

.sign-up-right-buttons-div {
  padding-top: 3%;
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3%;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .sign-up-right-buttons-div {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20%;
  }
}

.sign-up-right-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff;
}

.google-icon-text {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 70%;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 2%;
  justify-content: center;
  background: #ffefee;
  border: 1px solid #eb4335;
  border-radius: 4px;
  padding: 0 3%;
  overflow-y: hidden;
}

@media only screen and (max-width: 1400px) {
  .google-icon-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .google-icon-text {
    font-size: 12px;
  }
}

.my-facebook-button-class {
  font-family: "General Sans";
  font-style: normal;
  font-size: 15px;
  border: 1px solid #3b5998;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 1.3vh;
  color: #ffffff;
  display: grid;
  grid-template-columns: 9% 91%;
  align-items: center;
  background: #3b5998;
  border-radius: 4px;
  white-space: nowrap;
}

@media only screen and (max-width: 1400px) {
  .my-facebook-button-class {
  }
}

@media only screen and (max-width: 768px) {
  .my-facebook-button-class {
    padding: 1.8%;
    font-size: 15px;
    display: grid;
    grid-template-columns: 6% 94%;
  }
}

@media only screen and (max-width: 500px) {
  .my-facebook-button-class {
    display: grid;
    grid-template-columns: 10% 90%;
  }
}

.sign-up-right-hr-div {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  align-items: center;
  margin-top: 2%;
}

.or-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
