.sign-up-left-container {
  width: 50vw;
  height: 100vh;

  background: url("../../assets/sign-up-background.png"),
    linear-gradient(359.64deg, #000000 0.45%, rgba(0, 0, 0, 0.29) 99.83%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 2.5%;
}

.header-signup {
  height: 15vh;
}

.sign-up-left-main-left {
  height: 83vh;
  padding-top: 30%;
  padding-bottom: 10%;
}

.sign-up-left-main-left h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  max-width: 90%;
  color: #ffffff;
  overflow-y: hidden;
  margin-top: 25%;
  margin-bottom: 3%;
}
@media only screen and (max-width: 1200px) {
  .sign-up-left-main-left h3 {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    color: #ffffff;
  }
}

.sign-up-main-left-p-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20%;
}
@media only screen and (max-width: 1200px) {
}

.sign-up-main-left-p-1 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 9%;
  max-width: 70%;
}
@media only screen and (max-width: 1200px) {
  .sign-up-main-left-p-1 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    color: #ffffff;
  }
}

.sign-up-main-left-span-1 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .sign-up-main-left-span-1 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    text-align: right;

    color: #ffffff;
  }
}

.sign-up-main-left-span-2 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  text-decoration-line: underline;

  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .sign-up-main-left-span-2 {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;

    text-decoration-line: underline;

    color: #ffffff;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .sign-up-left-container {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
}
