.p-2-underline {
  text-decoration-line: underline;
  margin-bottom: 30%;
}

.p-2 {
  text-decoration-line: none;
}

.cover-img-container {
  position: absolute;
  height: 100%;

  width: 100%;
}

.cover-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
