.outer {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.inner {
  height: 100%;
  width: 40%;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner input {
  z-index: 50;
  opacity: 0;
  font-size: 120px;
  margin-left: 30px;
}

.inner-p-i {
  background: #f2f6fb;
  border: 1px dashed #bec9d5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  justify-content: center;

  position: relative;
}

.inner p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  width: 100%;
  color: #000000;

  position: absolute;
  text-align: center;
}

.inner-img {
  z-index: 51;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
}

.inner-img img {
  position: absolute;
  height: 100%;
  object-fit: contain;
  width: 40%;

  background: #f2f6fb;
  border: 1px dashed #bec9d5;
  border-radius: 4px;
}

.thumb-img-text {
  position: absolute;
  top: 47px;
  left: 180px;
}

.thumb-img-text p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
