.product-file-label {
  color: #2a2929;

  margin-bottom: 2%;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

@media only screen and (max-width: 1400px) {
  .product-file-label {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .product-file-label {
    font-size: 13px;
  }
}

.full-width {
  width: 100%;

  position: relative;
}

.p-1 {
  margin-top: -4%;
  text-decoration-line: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #000000;
}

.p-2-2 {
  margin-bottom: -4%;

  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  text-decoration-line: underline;
  color: #000000;
}

@media only screen and (max-width: 1400px) {
  .p-1 {
    font-size: 15px;
  }

  .p-2-2 {
    font-size: 15px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .p-1 {
    font-size: 12px;
  }

  .p-2-2 {
    font-size: 10px;
  }
}

.p-2 {
  margin-bottom: -2%;

  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  text-decoration-line: underline;
  color: #000000;
}

@media only screen and (max-width: 1400px) {
  .p-2 {
    font-size: 12px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .p-2 {
    font-size: 12px;
  }
}

.inner-img {
  width: 100%;
  position: absolute;
}

.inner-img div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  text-decoration: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #000000;
}

.inner input {
  cursor: pointer;
}

.inner-img p span {
  padding: 1.5%;
}
