.payouts-div {
  margin-bottom: 3%;
}

.payouts-div h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 4%;
  color: #2a2929;
}

@media only screen and (max-width: 1400px) {
  .payouts-div h3 {
    font-size: 18px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .payouts-div {
    font-size: 17px;
    line-height: 25px;
  }
}

.payout-method {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #2a2929;
  margin-bottom: 4%;
}

@media only screen and (max-width: 1400px) {
  .payouts-method {
    font-size: 18px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .payouts-method {
    font-size: 13px;
    line-height: 15px;
  }
}

.payout-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4%;
  margin-bottom: 4%;
}

.payout-logo {
  background: #e7f2fb;
  border-style: solid;
  border-color: #f2f6fb;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-btn {
  display: flex;
  gap: 1%;
  align-items: center;
  justify-content: center;
}

.bank-text {
  color: rgb(18, 18, 97);
  text-align: center;
}

.bank-logo span {
  display: flex;
  flex-direction: column;
}

.payout-connect-modal {
  width: 100%;
}

.payout-modal-paypal-div {
  width: 100%;
}
.payout-modal-mpesa-div {
  width: 100%;
}

.payout-modal-bank-div {
  width: 100%;
}

.account-div {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin-bottom: 3%;
  width: 100%;
}

.account-div label {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  color: #2a2929;
}

@media only screen and (max-width: 1400px) {
  .account-div label {
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .account-div label {
    font-size: 13px;
    line-height: 16px;
  }
}

.account-div input {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  outline: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .account-div input {
    font-size: 13px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .account-div input {
    font-size: 12px;
    line-height: 14px;
  }
}

.account-div select {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  outline: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

@media only screen and (max-width: 1400px) {
  .account-div select {
    font-size: 13px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .account-div select {
    font-size: 12px;
    line-height: 14px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
