.main-left-container {
  position: relative;
  margin-bottom: 3%;
  width: 50vw;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-left {
  position: relative;
  height: 65vh;
  background: #ffffff;
  border-radius: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 75%;
}

.main-left::-webkit-scrollbar {
  display: none;
}

.main-left {
  scrollbar-width: none;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info-content {
  padding: 7%;
}

.product-info-header h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  margin-bottom: 3%;
  max-width: 85%;
}

@media only screen and (max-width: 1400px) {
  .product-info-header h3 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .product-info-header h3 {
    font-size: 2px;
  }
}

.product-info-header p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  margin-bottom: 8%;
}
@media only screen and (max-width: 1400px) {
  .product-info-header p {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
  }
}

.product-info-header hr {
  border: 1px solid #96989a;
  margin-bottom: 8%;
}

.product-info h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  color: #2a2929;
  margin-bottom: 3%;
}

@media only screen and (max-width: 1400px) {
  .product-info h3 {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #2a2929;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .product-info h3 {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    color: #2a2929;
    margin-bottom: 3%;
  }
}

.email-address-div {
  width: 100%;
  margin-bottom: 5%;
}

.email-address-div input {
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  outline: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

@media only screen and (max-width: 1400px) {
  .email-address-div input {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .email-address-div input {
    font-size: 12px;
  }
}

.email-address-div input::placeholder {
  outline: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

@media only screen and (max-width: 1400px) {
  .email-address-div input::placeholder {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .email-address-div input::placeholder {
    font-size: 12px;
  }
}

.email-address-div p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #000000;
}

@media only screen and (max-width: 1400px) {
  .email-address-div p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .email-address-div p {
    font-size: 10px;
  }
}
.email-desc-top {
  margin-top: -2%;
  display: flex;
  flex-direction: column;
}

.span-2 {
  text-decoration-line: underline;
  cursor: pointer;
  margin-top: 1%;
}

.product-name-div {
  display: flex;
  flex-direction: column;
}

.product-name-label {
  margin-bottom: 2%;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 1400px) {
  .product-name-label {
    margin-bottom: 2%;
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
  }
}

.product-name-input {
  margin-bottom: 4%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  outline: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.product-name-input::placeholder {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #636363;
}

@media screen and (max-width: 1400px) {
  .product-name-input {
    font-size: 12px;
  }

  .product-name-input::placeholder {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: #636363;
  }
}

.product-desc {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.product-desc-label {
  margin-bottom: 2%;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 1400px) {
  .product-desc-label {
    font-size: 12px;

    color: #2a2929;
  }
}

.product-desc-name {
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding-left: 10px;
  outline: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.product-desc-name::placeholder {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #636363;
}

.product-price-div {
  display: flex;
  flex-direction: column;
}

.product-price-label {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #2a2929;
}

.product-price-input-div {
  margin-top: 8px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.product-price-input-div p {
  color: #636363;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.product-price-input {
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  padding-left: 8px;
  width: 100%;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.product-price-input::placeholder {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  padding-left: 10px;
  color: #636363;
}

.free-product {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 32px;
}

.toggleIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.free-product-desc {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #2a2929;
}

.hr {
  border: 1px solid #96989a;
  margin-bottom: 32px;
}

.customize-div h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2a2929;
  margin-bottom: 24px;
}

@media screen and (max-width: 1400px) {
  .customize-div h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .customize-div h3 {
    font-size: 18px;
  }
}

.customize-div h4 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #2a2929;
  margin-bottom: 8px;
}

@media screen and (max-width: 1400px) {
  .customize-div h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .customize-div h4 {
    font-size: 13px;
  }
}

.cover-img-input-div {
  background: #f2f6fb;
  border: 1px dashed #bec9d5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 5%;
}

.cover-img-input::-webkit-file-upload-button {
  visibility: hidden;
}

.cover-img-input::before {
  content: "Upload image or video";
  color: black;
  display: inline-block;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  text-decoration-line: underline;

  color: #000000;
}

.cover-img-input-div p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #000000;
}

.thumbnail-img {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.thumbnail-img h4 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #2a2929;
}

.thumb-btn {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  padding: 61px 18px;
  text-align: center;
  text-decoration-line: underline;
  background-color: yellow;
  color: #000000;
  border: none;

  position: absolute;
  left: 0;
  top: 0;
}

.thumbnail-img p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #000000;
}

.thumbnail-preview-div {
  position: absolute;

  top: 0;
  left: 0;
  height: 147px;
  width: 147px;
}

.thumbnail-preview-img {
  background-color: transparent;
}

.thumbnail-preview-img img {
  width: 100%;
}

.personalized-url {
  margin-top: 4%;
  margin-bottom: 18%;
}

.personalized-url h3 {
  margin-bottom: 3%;
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #2a2929;
}

@media screen and (max-width: 1400px) {
  .personalized-url h3 {
    font-size: 20px;
  }
  .personalized-url h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .personalized-url h3 {
    font-size: 17px;
  }

  .personalized-url h4 {
    font-size: 15px;
  }
}

.url-url {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #2a2929;
}

@media screen and (max-width: 1400px) {
  .url-url {
    font-size: 13px;
  }
}

@media screen and (max-width: 576px) {
  .url-url {
    font-size: 13px;
  }
}

.url-input {
  display: flex;
  margin-bottom: 2%;
  border: 1px solid #96989a;
  border-radius: 2px;
}

.url-input-1 {
  background: #e6e9eb;

  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.url-input-1 p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #2a2929;
}

@media screen and (max-width: 1400px) {
  .url-input-1 p {
    font-size: 14px;
  }

  .url-input-2 input {
    font-size: 14px;
  }
  .url-input-2 input::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .url-input-1 p {
    font-size: 12px;
  }

  .url-input-2 input {
    font-size: 12px;
  }
  .url-input-2 input::placeholder {
    font-size: 12px;
  }
}

.url-input-2 {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.url-input-2 input {
  border: none;
  outline: none;

  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.url-input-2 input::placeholder {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #adb3b8;
}

@media screen and (max-width: 1400px) {
  .url-input-2 {
    font-size: 14px;
  }

  .url-input-2 input {
    font-size: 14px;
  }
  .url-input-2 input::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .url-input-2 {
    font-size: 12px;
  }

  .url-input-2 input {
    font-size: 12px;
  }
  .url-input-2 input::placeholder {
    font-size: 12px;
  }
}

.copy-url {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  text-decoration-line: underline;
  color: #2a2929;
  border: none;
  background-color: #ffffff;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .copy-url {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .main-left-container {
    position: relative;
    width: 100vw;

    margin-bottom: 10px;
  }
}

/* MEDIA SCREEN 576PX */
/* MEDIA SCREEN 576PX */
/* MEDIA SCREEN 576PX */
/* MEDIA SCREEN 576PX */
/* MEDIA SCREEN 576PX */

@media only screen and (max-width: 576px) {
  .main-left-container {
    position: relative;
    width: 100vw;
    height: 80vh;
    position: relative;
    margin-bottom: 3%;
    margin-right: 7.5%;
    border-radius: 16px;
    margin-left: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-left {
    height: 100%;
    width: 100%;
    background: #ffffff;
    border-radius: 16px;
    padding-top: 3.5%;
  }

  .product-info-content {
    padding: 3%;
  }

  .product-info-header h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2%;
  }

  .product-info-header p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .product-info-header hr {
    border: 1px solid #96989a;
    margin-bottom: 6%;
  }

  .product-info h3 {
    font-size: 17px;

    color: #2a2929;
    margin-bottom: 15px;
  }

  .email-address-div {
    width: 100%;
    margin-bottom: 6%;
  }

  .email-address-div input {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 12px;
  }

  .email-address-div p {
    font-size: 12px;
  }

  .product-name-label {
    font-size: 13px;
  }

  .product-name-input {
    font-size: 12px;
  }

  .product-name-input::placeholder {
    font-size: 12px;
  }

  .product-desc-label {
    font-size: 13px;
  }

  .product-desc-name {
    font-size: 12px;
    line-height: 15px;
  }

  .product-desc-name::placeholder {
    font-size: 12px;
    line-height: 15px;
  }

  .product-price-label {
    font-size: 13px;
  }

  .product-price-input-div p {
    font-size: 12px;
    line-height: 15px;
  }

  .product-price-input {
    font-size: 12px;
    line-height: 15px;
  }

  .product-price-input::placeholder {
    font-size: 12px;
  }

  .free-product-desc {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 8px;

    color: #2a2929;
  }
}
/* MEDIA SCREEN 576PX */
