.container {
  background: url("../assets/background-img.png"),
    linear-gradient(
      90.33deg,
      rgba(0, 0, 0, 0.78) 35.45%,
      rgba(0, 0, 0, 0.29) 118.07%
    );
  background-blend-mode: overlay;

  background-size: 2004px 1336px;
  height: 982px;
  width: 100vw;
}
