@font-face {
  font-family: Monument Extended;
  src: url(/src/Fonts/MonumentExtended/MonumentExtended-Regular.otf);
}

.main-section {
  padding-top: 34px;

  display: flex;
  justify-content: space-between;

  position: relative;
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
  .main-section {
    padding-top: 5px;

    width: 100%;

    margin-left: 16px;
    margin-right: 16px;
  }
}
