@font-face {
  font-family: Monument Extended;
  src: url(/src/Fonts/MonumentExtended/MonumentExtended-Regular.otf);
}

.main-section {
  padding-top: 1%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  position: relative;
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
  .main-section {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
