.main-right {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  width: 50vw;
  padding-right: 70px;
}

.main-right h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;

  color: #ffffff;

  margin-bottom: 16px;
}

.main-right p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;

  color: #ffffff;
}

@media only screen and (min-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .main-right {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .main-right {
    display: none;
  }
}
