.main-right {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  width: 50vw;

  overflow-y: hidden;
}

.main-right h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;

  color: #ffffff;

  margin-bottom: 1%;
  overflow-y: hidden;
}
@media only screen and (max-width: 1200px) {
  .main-right h3 {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;

    color: #ffffff;
  }
}

.main-right p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  overflow-y: hidden;
}

.main-right h3 {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 1%;
  max-width: 95%;
}

.main-right p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  max-width: 80%;
}

@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .main-right {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
}
