@font-face {
  font-family: Monument Extended;
  src: url(/src/Fonts/MonumentExtended/MonumentExtended-Regular.otf);
}

.main-section {
  margin-top: 34px;

  display: flex;
  justify-content: space-between;

  position: relative;
}

@media only screen and (min-width: 600px) {
  .main-section {
    gap: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .main-section {
    gap: 50px;
  }
}

@media only screen and (min-width: 992px) {
  @media only screen and (min-width: 768px) {
    .main-section {
      gap: 70px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main-section {
    gap: 90px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
  .main-section {
    margin-top: 34px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}
