.preview-div {
  z-index: 200;
}

.preview-btn {
  border: none;
  background: #000000;
  border-radius: 4px;
  padding: 13px 181.5px;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;

  color: #ffffff;
  width: 429px;
  width: 100%;
  z-index: 200;
}
