.preview-div {
  z-index: 200;
}

.preview-btn {
  border: none;
  background: #000000;
  border-radius: 4px;
  padding: 13px 171px;

  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: auto;
  color: #ffffff;
  width: 100%;
  z-index: 200;
}
